<!-- Buscar por actividad-->
<div class="formgrid grid mt-4 mb-3">
  <div class="field col-1 p-fluid"></div>
  <div class="field col-5 p-fluid">
    <label for="buttondisplay" class="font-bold block mb-2"> Tipo de Actividad: </label>
      <p-dropdown appendTo="body"
                  [options]="activityTypes"
                  [(ngModel)]="selectedActivityType"  
                  placeholder="Seleccione Actividad"
                  (ngModelChange)="onActivityTypeChange()"
                  ></p-dropdown>
  </div>
</div>

<div *ngIf="selectedActivityType === 'PREVENTIVO'" class="formgrid grid mb-3 flex justify-content-center">

  <div class="field col-5 flex justify-content-center"> 
    <p-button (onClick)="saveActivity()">Añadir un Ticket</p-button>
  </div>

  <div class="field col-5 flex justify-content-center">
    <p-button (onClick)="saveActivity()">Edicion Masiva de Ticket</p-button>
  </div>  

</div>

<div *ngIf="selectedActivityType === 'NO PLANIFICADO'" class="formgrid grid mb-3 flex justify-content-center">

  <div class="field col-5 p-fluid">
    <label for="buttondisplay" class="font-bold block mb-2"> Partida: </label>
      <p-dropdown appendTo="body"
                  [options]="parties"
                  [(ngModel)]="selectedParty"
                  optionLabel="party_name"  
                  placeholder="Seleccione Actividad"
                  (ngModelChange)="onPartyChange()"
                  ></p-dropdown>
  </div>

  <div class="field col-5 p-fluid">
    <label for="buttondisplay" class="font-bold block mb-2"> Dispositivo: </label>
      <p-dropdown appendTo="body"
                  [options]="devices"
                  [(ngModel)]="selectedDevice"  
                  optionLabel="device_name" 
                  placeholder="Seleccione Actividad"
                  (ngModelChange)="onDeviceChange()"
                  ></p-dropdown>
  </div>  

</div>

<div>
  <form #form="ngForm" [formGroup]="activityForm">

    <div class="formgrid grid mb-3 flex justify-content-center">
      <div class="field col-6 p-fluid">
        <label for="buttondisplay" class="font-bold block mb-2"> Descripcion de la actividad: </label>
        <p-dropdown formControlName="baseActivity"
                    appendTo="body"
                    [options]="baseActivities"
                    optionLabel="ticket_description"
                    placeholder="Seleccione Descripcion del Ticket"
                    [filter]="true"
                    [required]="true"
                    ></p-dropdown>
      </div>

      <div class="field col-2">
        <label for="icondisplay" class="font-bold block mb-2"> H. Inicial: </label>
        <input type="time" pInputText class="w-full" formControlName="initial_time" required/>
      </div>

      <div class="field col-2">
        <label for="icondisplay" class="font-bold block mb-2"> H. Final: </label>
          <input type="time" pInputText class="w-full" formControlName="final_time" required/>
      </div>

    </div>

    <div class="formgrid grid mb-3 flex justify-content-center">

      <div class="field col-2">
        <label for="icondisplay" class="font-bold block mb-2"> T.M. Comida: </label>
        <input type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" pInputText class="w-full" formControlName="time_out_food" value="00:00"/>
      </div>

      <div class="field col-2">
        <label for="icondisplay" class="font-bold block mb-2"> T.M. Traslados: </label>
          <input type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" pInputText class="w-full" formControlName="time_out_transfer" value="00:00"/>
      </div>

      <div class="field col-2">
        <label for="icondisplay" class="font-bold block mb-2"> T.M. Accesos: </label>
        <input type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" pInputText class="w-full" formControlName="time_out_access" value="00:00"/>
      </div>

      <div class="field col-2">
        <label for="icondisplay" class="font-bold block mb-2"> T.M. Codigo: </label>
          <input type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" pInputText class="w-full" formControlName="time_out_code" value="00:00"/>
      </div>

      <div class="field col-2">
        <label for="icondisplay" class="font-bold block mb-2"> T.M. Almacen: </label>
          <input type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" pInputText class="w-full" formControlName="time_out_store" value="00:00"/>
      </div>

    </div>

    <div class="formgrid grid mb-3 flex justify-content-center">

      <div class="field col-5 p-fluid">
        <label for="buttondisplay" class="font-bold block mb-2"> Area Funcional: </label>
          <p-dropdown formControlName="area"
                      appendTo="body"
                      [options]="areas"
                      optionLabel="location" 
                      placeholder="Seleccione Ubicacion"
                      (ngModelChange)="onAreaChange()"
                      [filter]="true"
                      ></p-dropdown>
      </div>

      <div class="field col-5 p-fluid">
        <label for="buttondisplay" class="font-bold block mb-2"> Unidad Funcional: </label>
          <p-dropdown formControlName="unit"
                      appendTo="body"
                      [options]="units?.units"
                      optionLabel="unit_name" 
                      placeholder="Seleccione Ubicacion"
                      (ngModelChange)="printUnit()"
                      [filter]="true"
                      ></p-dropdown>
      </div>


    </div>

    <div class="formgrid grid mb-3 flex justify-content-center">

      <div class="field col-10 flex justify-content-end">
          <p-button (onClick)="saveActivity()">Guardar</p-button>
      </div>

    </div>

  </form>
</div>


