<div class="grid">
    <div class="col-12">
        <h2>Registro de actividades</h2>
    </div>

    <div class="seccion">
      <div class="col-12 card flex justify-content-around">

        <div class="col-12 md:col-3 p-fluid">
            <label for="date" class="font-bold block mb-2"> Fecha: </label>
            <p-calendar 
                      [(ngModel)]="date"
                      dateFormat="dd/mm/yy" 
                      [iconDisplay]="'input'" 
                      [showIcon]="true" 
                      inputId="date"
                      (ngModelChange)="getActivitiesOnChangeDate()"
                      ></p-calendar>
        </div>

        <div class="col-12 md:col-3 p-fluid">
          <label for="buttondisplay" class="font-bold block mb-2"> Turno: </label>
          <p-dropdown
                      [options]="workshifts"
                      [(ngModel)]="selectedWorkshift"
                      optionLabel="name"
                      placeholder="Seleccione Turno"
                      ></p-dropdown>
        </div>

        <div class="col-12 md:col-3 p-fluid align-content-end">
        
            <p-button icon="pi pi-plus"
                    class="add-button"
                    label="Agregar Nueva Actividad"
                    [outlined]="true"
                    severity="success"
                    (onClick)="showDialogNewActivity()"
                    ></p-button>
         
        </div>
      </div>
    </div>

    <p-dialog header="Nueva Actividad" [(visible)]="dialogVisible" [style]="{width: '60vw'}">
      <ticket-reg-new-activity *ngIf="dialogVisible"></ticket-reg-new-activity>
    </p-dialog>

    <div class="seccion">
      <div class="col-10">
        <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
      </div>
      <div class="col-12">
        <ticket-reg-activity-table></ticket-reg-activity-table>
      </div>

    </div>




</div>
